<?xml version="1.0" encoding="UTF-8"?>
<!--
  Envío opcional a Logstash (LOGSTASH_ENABLED=true).

  LogstashTcpSocketAppender es asíncrono (ring buffer LMAX Disruptor):
  - Los hilos de request nunca esperan la red: si el buffer se llena, los eventos se descartan (appendTimeout=0).
  - Si Logstash está caído, reintenta conectar cada reconnectionDelay sin bloquear ni loguear errores en stdout.
  - stdout (CONSOLE) se mantiene siempre como salida segura.
-->
<included>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
        <connectionTimeout>2 seconds</connectionTimeout>
        <reconnectionDelay>10 seconds</reconnectionDelay>
        <keepAliveDuration>1 minute</keepAliveDuration>
        <writeTimeout>5 seconds</writeTimeout>
        <ringBufferSize>8192</ringBufferSize>
        <appendTimeout>0</appendTimeout>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>${LOG_CUSTOM_FIELDS}</customFields>
            <fieldNames>
                <logger>logger</logger>
                <thread>thread</thread>
                <stackTrace>exception</stackTrace>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <maxLength>8192</maxLength>
                <shortenedClassNameLength>30</shortenedClassNameLength>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <defaultMask>****</defaultMask>
                <paths>password,passwd,secret,secretKey,secret_key,accessKey,access_key,token,accessToken,access_token,refreshToken,apiKey,api_key,authorization,Authorization,cookie,Cookie,set-cookie,Set-Cookie</paths>
                <valueMask>
                    <value>(?i)(X-Amz-(?:Signature|Credential|Security-Token)=)[^\x26\s"]+</value>
                    <mask>$1****</mask>
                </valueMask>
                <valueMask>
                    <value>(?i)(Bearer\s+)[A-Za-z0-9\-._~+/]+=*</value>
                    <mask>$1****</mask>
                </valueMask>
                <valueMask>
                    <value>(?i)((?:password|secret|secretKey|accessKey|token|api[_-]?key)\s*[=:]\s*)[^\s,;\x26"]+</value>
                    <mask>$1****</mask>
                </valueMask>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>

    <root>
        <appender-ref ref="LOGSTASH"/>
    </root>
</included>
